<app-navbar></app-navbar>

<div class="container">
  <div class="main-body">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">User ID</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.userId}}
                      </div>
                    </div>
                    <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.contactNo}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date of Birth</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.dob}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{user.address}} 
                  </div>
                </div>
              </div>
            </div>