<app-navbar></app-navbar>
<head>
  
</head>
<body>
    <div class="container">
    <div class="row">
        <h1 class = "text" style = "font-size: 25px;">Contact Us!</h1>
        <hr style = "width:70%">
        <p class = "text" style = "color: grey; font-size: 16px;">For More Details<p> <br>
            <form >
                <input type = "email" name = "email" placeholder = "email"><br>
                <button type="submit" class='btn contact'>Submit</button><br>
        </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>