<app-header></app-header>

<div class="login-form">
    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()" action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Change Password</h2>   
        <label>User ID</label>
        <div class="form-group pass_show"> 
            <input type="text" [(ngModel)]="user.userId" name="userId"
            #userIdControl="ngModel" class="form-control" placeholder="userId" required="required">
            <small *ngIf="userIdControl.invalid && userIdControl.touched" class="text-danger">userId required</small>

 

        </div> 
        
        <label>Email</label>
        <div class="form-group pass_show"> 
            <input type="email" [(ngModel)]="user.email" name="email"
            #emailControl="ngModel" class="form-control" placeholder="email" required="required">
            <small *ngIf="emailControl.invalid && emailControl.touched" class="text-danger">email required</small>

 

        </div> 
           <label>New Password</label>
        <div class="form-group pass_show"> 
            <input type="password" [(ngModel)]="user.password" name="password"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                #passwordControl="ngModel" required minlength="8" class="form-control" placeholder="Password" required="required">
                <small *ngIf="passwordControl.invalid && passwordControl.touched" class="text-danger">Password should contain min 8 characters with minimum 1 uppercase, 1 lowercase, 1 special symbol </small>
        </div> 
        <div class="form-group">
            <button [disabled]="changePasswordForm.invalid"type="submit" class="btn btn-primary btn-block">Change Password</button>
        </div>
        
    </form>
</div>
<br>
<br>
<br>
<br>

 

