  <div class="container py-5">
      <header class="text-center text-white">
  </header>
  <h1 align="center">Statement History</h1>
      <div class="row py-5">
        <div class="col-lg-10 mx-auto">
          <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
              <div class="table-responsive">
                <table  class="styled-table">
                  <thead>
                    <tr class="active-row">
                      <th>Statement Id</th>
                      <th>Due Amount</th>
                      <th>Billing Date</th>
                      <th>Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active-row">
                      <td>1212</td>
                      <td>50000</td>
                      <td>10/2/2020</td>
                      <td>10/2/2020</td>
                    </tr>
                    <tr class="active-row">
                      <td>1213</td>
                      <td>50000</td>
                      <td>10/2/2020</td>
                      <td>10/2/2020</td>
                    </tr>
                    <tr class="active-row">
                      <td>1214</td>
                      <td>50000</td>
                      <td>10/2/2020</td>
                      <td>10/2/2020</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>