.footer {
    overflow: hidden;
    width: 100%;
    position: absolute;
    font-size: small;
    background-color: #434e47;
    font-family: Verdana, sans-serif;
    color: rgb(226, 225, 225);
    text-align: center;
  }