  <div class = "container">
      <div style="margin-top: 40px; color: #365040;"> 
          <h1>ABOUT US</h1>
      </div>
      <div class = "row" style="margin-top: 20px;">
          we take your money matters seriously.
          so that you don’t have to.
          never miss a due date with reminders to help you pay your bills on time, 
          instant settlements mean you never wait for your payments to go through and 
          statement analysis lets you know where your money goes, always. 
      </div>
      <hr style = "width:70%">
      <div class="row">
          security first.
          and second.
          what’s yours remains only yours.
          CREDAPP ensures that all your personal data and transactions are encrypted, 
          and secured so what’s yours remains only yours. 
          there’s no room for mistakes because we didn’t leave any.
      </div>
  </div>